@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

*{
	margin: 0;
	padding: 0;
	font-family: 'Permanent+Marker', sans-serif;
}

body{
	display: flex;
	justify-content: center;
	min-height: 100vh;
	background: #111;
}

h1{
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	padding: 0 30px;
	font-size: 3em;
	color: #fff;
}

.container{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 40px, 0;
	flex-wrap: wrap;	
}

.container .box{
	position: relative;
	width: 320px;
	height: 400px;
	color: #fff;
	background: #111;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px 30px;
	transition: 0.5s;
}

.container .box:hover{
	transform: translateY(-20px);
}

.container .box::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(45deg, #00ccff, #0e1538, #0e1538, #d400d4);
}

.container .box::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(45deg, #00ccff, #0e1538, #0e1538, #d400d4);
	filter: blur(30px);
}

.container .box span::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 50%;
	bottom: 100%;
	background: rgba(255,255,255,0.1);
	pointer-events: none;
}

.container .box .content{
	position: relative;
	z-index: 10;
	padding: 20px 40px;
}

.container .box .content h2{
	font-size: 2em;
	color: #fff;
	margin-bottom: 5px;
	text-align: center;
	padding: 5px;
}

.container .box .content p{
	font-size: 1.1em;
	color: #fff;
	margin-bottom: 10px;
	text-align: justify;
}

.container .box .content a{
	display: 1.1em;
	font-size: 1.1em;
	padding: 10px 12px;
	margin: 0 10px;
	width: 10%;
	text-decoration: none;
	border-radius: 20px;
	border-color: #fff;
	box-shadow: 0 0 5px #00ccff, 0 0 15px #00ccff;
	transition: 0.5s;
}